<!--The content below is only a placeholder and can be replaced.-->

<header>
  <div class="nav mobile--nodisplay">
    <span class="logo">
      <a routerLink='/'>
        <img src="../assets/images/dog.svg" width="48" height="48">
      </a>
    </span>
    <span class="title"> Pupper 2 Doggo </span>
    <div class="link-container">
      <div class="link" *ngFor="let link of links">
        <a routerLink="{{ link.route }}">{{ link.label }}</a>
      </div>
    </div>
    
  </div>
  <!-- <div class="mobile-nav-links" > </div> -->
</header>


<div class="content-container" style="text-align:center">
  <router-outlet></router-outlet>
</div>


